@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(./assets/858ef327bc40f6e523b9ff063ea8bb41.gif);
    background-size: auto;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background_cover{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
    opacity: 0.4;
}

.content_container {
    display: flex;
    position: relative;
    padding-top: 7rem;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.6);

}

h1 {
    font-weight: bold;
    color: #123250;
    text-shadow: 0 0 0.25rem #123250;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.countdown-el {
    text-align: center;
}

.big-text {
    font-weight: bold;
    font-size: 5rem;
    color: #123250;
    text-shadow: 0 0 0.25rem #123250;
    line-height: 1;
    text-align: center;
}

span {
    font-weight: bold;
    margin-left: 2.5rem;
    text-align: center;
    color: #123250;
    text-shadow: 0 0 0.25rem #123250;
    font-size: 1.8rem; 
} 

/*Media Queries*/

@media (min-width: 166em) {
    *{
    font-size: 85%;
    }
}

@media (min-width: 133em) {
    *{
    font-size: 80%;
    }
}

@media (min-width: 100em) {
    * {             
    font-size: 75%; 
    }                  
}

@media (max-width: 64em) {
    .background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
    }

    h1 {
        font-size: 4rem;
    }

    .big-text {
        font-size: 3.2rem;
    }

    span {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

@media (max-width: 48em) {
    h1 {
        font-size: 3.7rem;
        margin-bottom: 1.5rem;
    }

    .big-text {
        font-size: 3rem;
    }

    span {
        font-size: 1.5rem;
        font-weight: 700;
    }
}


@media (max-width: 36em) {
    h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    .big-text {
        font-size: 2.8rem;
    }

    span {
        font-weight: 700;
    }
}

@media (max-width:25em) {
    h1 {
        font-size: 2rem;
    }

    .big-text {
        font-size: 2.4rem;
    }

    span {
        font-size: 0.6rem;
        margin-left: 0;
        font-weight: 400;
    }
}

@media (max-width:20em) {
    h1 {
        font-size: 2rem;
    }

    .big-text {
        font-size: 2rem;
    }
}